/* Шрифта Repo на Стефан Пеев от www.fontlibrary.org */
@font-face {
  font-family: 'MiamaNueva';
  src: url('/theme/fonts/miamanueva.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

body {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-weight: normal;
  font-style: normal;
}

body h1, #banner nav {
  font-family: 'MiamaNueva';
}