<footer class="post-info">
        <span class="published" >
                {{ article.locale_date }}
        </span>
        
        <address class="vcard author">
        <!--
        Тук се изписват автора на статията.
        Закоментирам го, защото засега единственият автор е ОБХ.
        Ще ни бъде от полза обаче, ако в бъдеще има публикуваме и статии от други автори.
                от <a class="url fn" href="{{ SITEURL }}/{{ article.author.url }}">{{ article.author }}</a> в
        -->
        <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
        </address>
<!--
{% if PDF_PROCESSOR %}<p><a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">Version pdf</a></p>{% endif %}
{% include 'taglist.html' %}
{% include 'translations.html' %}
-->
</footer><!-- /.post-info -->
