<!DOCTYPE html>
<html lang="en">
<head>
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" type="text/css" />
        <link rel="alternate" href="{{ SITEURL }}/{{ FEED_ALL_ATOM }}" title="{{ SITENAME }}" type="application/rss+xml" />
        <link rel="shortcut icon" href="/theme/favicon.png" />
</head>

<body id="index" class="home">
        <header id="banner" class="body">
                <h1><a href="{{ SITEURL }}/index.html">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
                <nav><ul>
                <!--
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                -->
                {% if DISPLAY_PAGES_ON_MENU %}
                {% for page in PAGES %}
                    <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                {% endif %}
                {% for cat, null in categories %}
                    <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                {% endfor %}
                </ul></nav>
        </header><!-- /#banner -->
        {% block content %}
        {% endblock %}
        
        <!--
        Все още не съм открил предназначение на тази част от страницата,
        затова я закоментирам.
        
        <section id="extras" class="body">
        {% if LINKS %}
                <div class="blogroll">
                        <h2>blogroll</h2>
                        <ul>
                        {% for name, link in LINKS %}
                            <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                        </ul>
                </div>
        {% endif %}
        {% if SOCIAL %}
                <div class="social">
                        <h2>Препратки</h2>
                        <ul>
                        {% for name, link in SOCIAL %}
                            <li><a href="{{ link }}">{{ name }}</a></li>
                        {% endfor %}
                        </ul>
                </div>
        {% endif %}
        </section>
        -->
        <footer id="contentinfo" class="body">
          <a target="_blank" title="Страницата в книги.ею" href="http://книги.ею/%D0%B7%D0%B0%D0%B3%D0%BB%D0%B0%D0%B2%D0%B8%D1%8F/%D0%BE-%D0%B1-%D1%85-%D1%81%D1%87%D1%83%D0%BF%D0%B5%D0%BD%D0%B0%D1%82%D0%B0-%D0%BA%D1%83%D0%BA%D0%BB%D0%B0/"><img height="30px" alt="Страницата в книги.ею" src="/theme/img/icons/book.svg" border=0></a>
          <a target="_blank" title="Страницата във Facebook" href="https://www.facebook.com/О-Б-Х-107995941432627"><img height="30px" alt="Страницата във Facebook" src="/theme/img/icons/facebook.svg" border=0></a>
          <a target="_blank" title="Страницата в Wattpad" href="https://www.wattpad.com/user/Dalia_Boboby"><img height="30px" alt="Страницата в Wattpad" src="/theme/img/icons/wattpad.svg" border=0></a>
          <a target="_blank" title="Страницата в Goodreads" href="https://www.goodreads.com/author/show/21495691.O_X_"><img height="30px" alt="Страницата в Goodreads" src="/theme/img/icons/goodreads.svg" border=0></a>
          <a target="_blank" title="Страницата в Instagram" href="https://www.instagram.com/author.o.b.x/"><img height="30px" alt="Страницата в Instagram" src="/theme/img/icons/instagram.svg" border=0></a>
          <a target="_blank" title="Email" href="mailto:o.b.x@mail.bg "><img height="30px" alt="Email" src="/theme/img/icons/email.svg" border=0></a>
        </footer><!-- /#contentinfo -->
</body>
</html>
